# Python caches
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Data and Models (Ignore the files, but keep the folders)
data/raw/*
data/results/*
models/*.pkl
!data/raw/.gitkeep
!data/results/.gitkeep
!models/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints